{
  "ownerID": "123456789123456",
  "admins": [],
  "support": [],

  "paths": {
    "assets": "https://discord-fantasia.net/assets/"
  },

  "token": "mfa.VkO_2G4Qv3T--NO--lWetW_tjND--TOKEN--QFTm6YGtzq9PH--4U--tG0",
  "mongouri": "",

  "defaultSettings": {
    "prefix": "f-"
  },

  "defaultProfile": {
    "money": 3000
  }
}